.addbeneficiary {
  background-color: white;
  padding: 0.5rem 1rem 5rem 1rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.45);
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addbeneficiary__star {
  color: red;
}

.addbeneficiary__errorlabel {
  color: red;
}

.addbeneficiary__savebtn:hover {
  cursor: not-allowed;
}
.addbeneficiary__form-radio {
  margin-left: 1rem;
}
.addbeneficiary__radiolabel{
  margin-left: 0.5rem;
}

