.layout__bills-cards__body {
  padding-top: 1rem;
  margin: 1rem 2rem;
}

.layout__bills-cards__card {
  width: 22rem;
  margin-top: 4rem;
  left: -3rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1239px) {
  .layout__bills-cards__card {
    margin-top: 3rem;
    position: static;
  }
}